<div class="container">
    <div class="login_wrapper">
    <div class="left_side">
      <img src="assets/icons/login-man.png" alt="">
    </div>
    <div class="right_side">
      <h1>Login</h1>
      <form action="">
        <div class="input_groups">
          <div class="input_group">
            <img class="input_prefix" src="assets/icons/sms.svg" alt="sms icon">
            <input class="caption" type="text" placeholder="Email">
          </div>
          <div class="input_group">
            <img class="input_prefix" src="assets/icons/key-square.svg" alt="key icon">
            <input class="caption" type="text" placeholder="Password">
          </div>
        </div>
        <button (click)="requestLogin($event)" class="regular-text">Login</button>
      </form>
    </div>
  </div>
</div>
