@import '../../../../variables';

.card{
  position: relative;
  background: $grey900;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 8px 8px 16px;
  height: 100%;
  .poster{
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    background: $grey800;
    height: 400px;
  }
  .description{
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    .title{
      background: $grey800;
      width: 150px;
      max-width: 100%;
      border-radius: 8px;
      height: 16px;
    }
  }
  .rating{
    position: absolute;
    color: transparent;
    display: flex;
    align-items: center;
    padding: 8px;
    background: $black20;
    backdrop-filter: blur(8px);
    border-radius: 8px;
    top: 18px;
    left: 16px;
    mat-icon{
      margin-right: 4px;
      opacity: 0;
    }
  }
  .card_suggestion{
    display: flex;
    .icon{
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $grey800;
      margin-right: 8px;
    }
    .suggestion_text{
      background: $grey800;
      width: 150px;
      max-width: 100%;
      border-radius: 8px;
      height: 16px;
    }
  }
}
