<nav>
  <div class="container">
    <div class="nav__items">
      <div class="navbar_logo">
        <img src="assets/icons/logo.png" alt="">
      </div>
      <div class="navbar_menu_wrapper">
        <ul>
          <li>
            <a href="#" class="regular">Movies</a>
          </li>
          <li>
            <a href="#" class="regular">TV Shows</a>
          </li>
          <li class="big_nav_btn">
            <a href="#" class="regular">Suggest me<img src="assets/icons/arrow-right.svg" class="icon-on-right" alt="right arrow"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
