<nav>
  <div class="container">
    <div class="nav__items">
      <div class="navbar_logo">
        <a href="content/" routerLink="/content">
          <img src="assets/icons/logo.png" alt="">
        </a>
      </div>
      <div class="navbar_menu_wrapper">
        <ul class="{{openOnMobile ? 'active' : ''}}">
          <li>
            <a routerLink="/content/movies/1" class="regular">Movies</a>
          </li>
          <li>
            <a routerLink="/content/tv/1" class="regular">TV Shows</a>
          </li>
          <li class="big_nav_btn">
            <a routerLink="/content/suggest-me" class="regular">Suggest me<img src="assets/icons/arrow-right.svg" class="icon-on-right" alt="right arrow"></a>
          </li>
        </ul>
        <div class="burger_container">
          <label for="check" class="burger">
            <input type="checkbox"  (click)="openSideBar()" id="check"/>
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</nav>
