@import '../../../../../variables';

.content_wrapp{
  padding-top: 64px;
  margin-bottom: 160px;
  h1{
    margin-bottom: 16px;
  }
  p.regular{
    margin-bottom: 24px;
    max-width: 588px;
    color: $grey300;
  }
  form{
    margin-bottom: 48px;
    button{
      padding: 16px 32px;
      color: $white100;
      border-radius: 12px;
      margin-left: 8px;
      min-width: 121px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media (max-width: 610px) {
    padding-top: 24px;
    padding-bottom: 100px;
    form{
      margin-bottom: 24px;
      position: relative;
      padding-right: 110px;
      button{
        padding: 0;
        min-width: 100px;
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
      }
    }
  }
}
.search_form{
  display: flex;
}
.categories_wrapper{
  display: flex;
}
.categories{
  border-radius: 12px;
  background: $black20;
  padding: 8px;
  display: flex;
  margin-bottom: 40px;
}

