@import "../../../variables";

.content_wrapp{
  padding-top: 64px;
  padding-bottom: 160px;
  .title_section{
    margin-bottom: 24px;
    p{
      margin-top: 16px;
      color: $grey300;
      max-width: 590px;
      a{
        color: $primary300
      }
    }
  }
  form{
    margin-bottom: 48px;
  }
  @media (max-width: 610px) {
    padding-top: 24px;
    padding-bottom: 100px;
    form{
      margin-bottom: 24px;
    }
  }
}
.search_form{
  display: flex;
}
