@import '../../../../variables';

.card{
  position: relative;
  background: rgba(32, 40, 62, 0.8);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 8px 8px 16px;
  height: 100%;
  cursor: pointer;
  .poster .poster_img{
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 400px;
    background: $grey800;
    @media (max-width: 1250px) {
      height: 300px;
    }
    @media (max-width: 610px) {
      height: 250px;
    }
  }
  .description{
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (max-width: 610px) {
      padding: 0px;
      gap: 10px;
    }
  }
  .rating{
    position: absolute;
    color: $warning;
    display: flex;
    align-items: center;
    padding: 8px;
    background: $black65;
    backdrop-filter: blur(8px);
    border-radius: 8px;
    top: 18px;
    left: 16px;
    mat-icon{
      margin-right: 4px;
    }
  }
  .add_to_list{
    color: $primary400;
    &.success{
      color: $success400;
    }
  }
  .card_suggestion div, .add_to_list{
    display: flex;
    align-items: center;
    mat-icon{
      width: 24px;
      margin-right: 8px;
    }
    &.suggest{
      color: $primary400;
    }
    &.already_suggested{
      color: $success400;
      &--warning{
        color: $warning;
      }
    }
  }
}

