@import '../../../../variables';

.card{
  position: relative;
  background: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(80px);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 8px 8px 16px;
  height: 100%;
  cursor: pointer;
  .poster img{
    border-radius: 8px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .description{
    padding: 8px;
  }
  .rating{
    position: absolute;
    color: $warning;
    display: flex;
    align-items: center;
    padding: 8px;
    background: $black65;
    border-radius: 8px;
    top: 18px;
    left: 16px;
    img{
      margin-right: 4px;
    }
  }
}
