@import '../../../../../variables';

.right_side{
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.details_wrapper{
  padding-top: 40px;
  .top_section{
    position: relative;
    height: 480px;
    margin-bottom: 152px;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(54, 44, 146, 0.4) 0%, rgba(18, 98, 151, 0.4) 100%);
      border-radius: 40px;
    }
    img{
      width: 100%;
      max-height: 100%;
      object-fit: cover;
      object-position: center;
      position: relative;
      z-index: 1;
      border-radius: 40px;
    }
    .title_block{
      position: absolute;
      left: 80px;
      bottom: 0;
      padding: 40px;
      border-radius: 24px;
      background: rgba(32, 40, 62, 0.7);
      backdrop-filter: blur(6px);
      transform: translateY(50%);
      z-index: 3;
      max-width: calc(100% - 160px);
      min-width: 460px;
      .breadcrumbs{
        margin-bottom: 8px;
        color: $primary200;
      }
      h3{
        color: $grey50;
      }
    }
  }

  .main_section{
    padding: 0 80px 160px;
    display: flex;
    gap: 80px;
    .left_side{
      flex: 1;
      img{
        width: 100%;
        border-radius: 24px;
      }
    }
    .right_side{
      flex: 1;
      color: $grey50;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .info_blocks{
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
      .info_blocks_tv{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        .info_block{
          flex: 1;
          min-width: 40%;
        }
      }
      .description{
        color: $grey300;
      }
      .rating{
        padding: 8px;
        background: $black65;
        color: $warning;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-self: start;
        mat-icon{
          margin-right: 4px;
        }
      }
      .info_block{
        p:first-child{
          color: $grey400;
        }
        p:last-child{
          color: $grey100;
        }
      }
    }
  }
}
