@import "variables";
html, body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, input, textarea, select, button { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html{
  background: $grey900;
  color: $white100;
}
body{
  font-family: $font_poppins;
  min-height: 100vh;
  //background-image: url("/assets/icons/background.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  &.block_scroll{
    overflow: hidden;
  }
}
.container{
  max-width: 1440px;
  padding: 0 120px;
  margin: auto;
  @media (max-width: 1100px) {
    padding: 0 20px;
  }
}
h1{
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -2%;
  @media(max-width: 610px){
    font-size: 48px;
    line-height: 56px;
  }
}
h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -2%;
  @media (max-width: 610px) {
    font-size: 32px;
    line-height: 40px;
  }
}
h3{
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -2%;
  @media (max-width: 610px) {
    font-size: 24px;
    line-height: 32px;
  }
}
h4{
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5%;
}
h5{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -1.5%;
}
h6{
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -1.5%;
}
p.large{
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  @media (max-width: 610px) {
    font-size: 16px;
    line-height: 32px;
  }
}
p.regular, .regular-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  @media(max-width: 610px){
    font-size: 14px;
  }
}
p.small, .small-text{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
p.extra-small{
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
p.overline-regular{
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  //letter-spacing: 4%;
}
p.overline-small{
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  //letter-spacing: 4%;
}
.caption{
  font-size: 14px;
  line-height: 16px;
}
a{
  text-decoration: none;
  color: white;
}
a.regular{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  //letter-spacing: 2%;
}
a.small{
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  //letter-spacing: 2%;
}
a.extra-small{
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  //letter-spacing: 2%;
}
.cursor-pointer{
  cursor: pointer;
}

.categories{
  border-radius: 12px;
  background: $black20;
  padding: 8px;
  display: flex;
  margin-top: 32px;
  margin-bottom: 24px;
  @media (max-width: 610px) {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
  }
}
.grid-4-col{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 20px;
  @media (max-width: 850px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 610px) {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
}

.input_group{
  display: flex;
  align-items: center;
  padding: 16px 20px;
  background: $black10;
  border: 1px solid $grey700;
  border-radius: 12px;
  min-width: 344px;
  img.input_prefix{
    margin-right: 16px;
  }
  input{
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    color: $white100;
    &::placeholder{
      color: $grey600
    }
  }
  @media (max-width: 610px) {
    padding: 12px 16px;
    width: 100%;
    min-width: unset;
  }
}

.svg_primary{
  path{
    stroke: $primary400;
  }
}
.svg_success{
  path{
    stroke: $success400;
  }
}
.svg_warning{
  path{
    stroke: $warning;
  }
}

button{
  background: $primary400;
  transition: all 0.3s ease;
  border: 2px solid $primary400;
  cursor: pointer;
  color: $white100;
  &:hover{
    background: $primary500;
    border: 2px solid $primary500;
  }
  &:disabled,
  &[disabled]{
    background-color: $black20;
    cursor: not-allowed;
  }
}

.total_items{
  color: $grey400;
  margin-bottom: 24px;
}
.categories_item{
  padding: 8px 32px;
  position: relative;
  cursor: pointer;
  &::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: $primary400;
    transition: all 0.3s ease;
    z-index: 1;
    border-radius: 8px;
  }
  &.active{
    pointer-events: none;
    p{
      color: $primary50;
    }
    &::after{
      height: 100%;
      width: 100%;
    }
  }
  p.regular{
    margin: 0 !important;
    color: $primary50 !important;
    position: relative;
    z-index: 2;
    transition: color 0.2s ease;
  }
  @media (max-width: 610px) {
    padding: 8px;
    flex: 1;
    text-align: center;
  }
}

pagination-controls{
  margin: auto;
  .ngx-pagination {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    .current {
      background: $primary500;
      border-radius: 12px;
    }
    a{
      color: $white100;
      transition: all 0.2s ease;
    }
    a:hover, .ngx-pagination button:hover {
      background: $primary400;
      border-radius: 12px;
    }
  }
}

.mat-snack-bar-container{
  &.successSnack{
    background: $success500;
    span {
     color: white;
    }
  }
  &.errorSnack{
    background: $error500;
    span {
      color: $error50;
    }
  }
  button{
    color: white;
    &:hover{
      background: transparent;
      border: none;
    }
  }
}

.search_result_is_empty{
  max-width: 640px;
  text-align: center;
  margin: auto;
  padding-top: 48px;
  h2{
    color: $grey50;
    margin-bottom: 16px;
  }
  p{
    color: $grey400;
    margin-bottom: 40px;
  }
  button{
    padding: 16px 32px;
    border-radius: 12px;
  }
  @media (max-width: 610px) {
    max-width: 100%;
    padding-top: 24px;
    p{
      margin-bottom: 24px;
    }
    button{
      padding: 8px 16px;
      border-radius: 12px;
    }
  }
}

.burger_container{
  position: relative;
  z-index: 11;
  display: none;
  @media(max-width: 767px){
    display: block;
  }
  label{
    display:flex;
    flex-direction:column;
    width:30px;
    cursor:pointer;
  }
  label span{
    background: #fff;
    border-radius:10px;
    height:3px;
    margin: 3px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  span:nth-of-type(1){
    width:50%;
  }
  span:nth-of-type(2){
    width:100%;
  }
  span:nth-of-type(3){
    width:75%;
  }
  input[type="checkbox"]{
    display:none;
  }
  input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(4px,0px)
  }
  input[type="checkbox"]:checked ~ span:nth-of-type(2){
    transform-origin:top;
    transform:rotatez(-45deg)
  }
  input[type="checkbox"]:checked ~ span:nth-of-type(3){
    transform-origin:bottom;
    width:50%;
    transform: translate(13px,-5px) rotatez(45deg);
  }
}
