@import "variables";
html, body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, input, textarea, select, button { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html{
  background: $grey900;
  color: $white100;
}
body{
  font-family: $font_poppins;
  min-height: 100vh;
  background-image: url("assets/icons/background.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.container{
  max-width: 1440px;
  padding: 0 120px;
  margin: auto;
}
h1{
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: -2%;
}
h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -2%;
}
h3{
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: -2%;
}
h4{
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5%;
}
h5{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -1.5%;
}
h6{
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -1.5%;
}
p.large{
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
p.regular, .regular-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
p.small, .small-text{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
p.extra-small{
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
p.overline-regular{
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  //letter-spacing: 4%;
}
p.overline-small{
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  //letter-spacing: 4%;
}
.caption{
  font-size: 14px;
  line-height: 16px;
}
a{
  text-decoration: none;
  color: white;
}
a.regular{
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  //letter-spacing: 2%;
}
a.small{
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  //letter-spacing: 2%;
}
a.extra-small{
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  //letter-spacing: 2%;
}

.grid-4-col{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 20px;
}

.input_group{
  display: flex;
  align-items: center;
  padding: 16px 20px;
  background: $black10;
  border: 1px solid $grey700;
  border-radius: 12px;
  min-width: 344px;
  img.input_prefix{
    margin-right: 16px;
  }
  input{
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    color: $white100;
    &::placeholder{
      color: $grey600
    }
  }
}

.svg_primary{
  path{
    stroke: $primary400;
  }
}
.svg_success{
  path{
    stroke: $success400;
  }
}
.svg_warning{
  path{
    stroke: $warning;
  }
}

button{
  background: $primary400;
  transition: all 0.3s ease;
  border: 2px solid $primary400;
  cursor: pointer;
  color: $white100;
  &:hover{
    background: $primary500;
    border: 2px solid $primary500;
  }
}

pagination-controls{
  margin: auto;
  .ngx-pagination {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    .current {
      background: $primary500;
      border-radius: 12px;
    }
    a{
      color: $white100;
      transition: all 0.2s ease;
    }
    a:hover, .ngx-pagination button:hover {
      background: $primary400;
      border-radius: 12px;
    }
  }
}
