//colors
$primary900: #120f31;
$primary800: #251e62;
$primary700: #362c92;
$primary600: #483bc3;
$primary500: #5A4AF4;
$primary400: #7b6ef6;
$primary300: #9c92f8;
$primary200: #beb7fb;
$primary100: #dedbfd;
$primary50: #ebe9fe;

$secondary900: #062032;
$secondary800: #0c4265;
$secondary700: #126297;
$secondary600: #1884ca;
$secondary500: #1ea5fc;
$secondary400: #4bb7fd;
$secondary300: #78c8fd;
$secondary200: #a5dbfe;
$secondary100: #d2ecfe;
$secondary50: #e4f4ff;

$tertary900: #241633;
$tertary800: #492c66;
$tertary700: #6d4199;
$tertary600: #9257cc;
$tertary500: #b66dff;
$tertary400: #c58aff;
$tertary300: #d3a7ff;
$tertary200: #e2c5ff;
$tertary100: #f0e2ff;
$tertary50: #f6edff;

$grey900: #121829;
$grey800: #20283e;
$grey700: #323b54;
$grey600: #475069;
$grey500: #61697f;
$grey400: #767e94;
$grey300: #8e95a9;
$grey200: #a8aebf;
$grey100: #c3c8d4;
$grey50: #ebeef5;

$black100: #000000;
$black75: rgba(0, 0, 0, 0.75);
$black65: rgba(0, 0, 0, 0.65);
$black50: rgba(0, 0, 0, 0.5);
$black40: rgba(0, 0, 0, 0.4);
$black30: rgba(0, 0, 0, 0.3);
$black20: rgba(0, 0, 0, 0.2);
$black10: rgba(0, 0, 0, 0.1);

$white: #ffffff;
$success: #05ce91;
$error: #FF6161;
$warning: #ffad49;

//typography
$font_poppins: 'Poppins', sans-serif;
