//colors
$primary900: rgba(18, 15, 49, 0.7);
$primary800: rgba(37, 30, 98, 0.73);
$primary700: #362c92;
$primary600: #483bc3;
$primary500: #5A4AF4;
$primary400: #7b6ef6;
$primary300: #9c92f8;
$primary200: #beb7fb;
$primary100: #dedbfd;
$primary50: #ebe9fe;

$secondary900: rgba(6, 32, 50, 0.61);
$secondary800: #0c4265;
$secondary700: #126297;
$secondary600: #1884ca;
$secondary500: #1ea5fc;
$secondary400: #4bb7fd;
$secondary300: #78c8fd;
$secondary200: #a5dbfe;
$secondary100: #d2ecfe;
$secondary50: #e4f4ff;

$tertary900: #241633;
$tertary800: #492c66;
$tertary700: #6d4199;
$tertary600: #9257cc;
$tertary500: #b66dff;
$tertary400: #c58aff;
$tertary300: #d3a7ff;
$tertary200: #e2c5ff;
$tertary100: #f0e2ff;
$tertary50: #f6edff;

$grey900: #121829;
$grey800: #20283e;
$grey700: #323b54;
$grey600: #475069;
$grey500: #61697f;
$grey400: #767e94;
$grey300: #8e95a9;
$grey200: #a8aebf;
$grey100: #c3c8d4;
$grey50: #ebeef5;

$black100: #000000;
$black75: rgba(0, 0, 0, 0.75);
$black65: rgba(0, 0, 0, 0.65);
$black50: rgba(0, 0, 0, 0.5);
$black40: rgba(0, 0, 0, 0.4);
$black30: rgba(0, 0, 0, 0.3);
$black20: rgba(0, 0, 0, 0.2);
$black10: rgba(0, 0, 0, 0.1);

$white100: rgba(255, 255, 255, 1);
$white75: rgba(255, 255, 255, 0.75);
$white65: rgba(255, 255, 255, 0.65);
$white50: rgba(255, 255, 255, 0.5);
$white40: rgba(255, 255, 255, 0.4);
$white30: rgba(255, 255, 255, 0.3);
$white20: rgba(255, 255, 255, 0.2);
$white10: rgba(255, 255, 255, 0.1);

$success900: rgba(1, 41, 29, 1);
$success800: rgba(2, 82, 58, 1);
$success700: rgba(3, 124, 87, 1);
$success600: rgba(4, 165, 116, 1);
$success500: rgba(5, 206, 145, 1);
$success400: rgba(55, 216, 167, 1);
$success300: rgba(105, 226, 189, 1);
$success200: rgba(155, 235, 211, 1);
$success100: rgba(205, 245, 233, 1);
$success50: rgba(205, 245, 233, 1);

$error500: #FF6161;
$error50: rgba(255, 236, 236, 1);

$warning: #ffad49;

//typography
$font_poppins: 'Poppins', sans-serif;
